* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box ;
}

nav {
  /*background: orange;*/
  width: 100%;
  height: 80px;
}

nav ul {
  float: right;
  margin-right: 5%; 
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
  line-height: 80px;
}

nav ul li a {
  color: black;
}

a.logo {
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin-left: 5%;
  line-height: 80px;
}

.checkbtn {
  color: black;
  font-size: 20px;
  float: right;
  line-height: 80px;
  margin-right: 5%;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 700px) {

  .checkbtn { 
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    text-align: center;
    top: 80px;
    left: -100%;
    /*background: palegoldenrod;*/
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
  }

  a:hover {
    color: gray;
  }

  #check:checked ~ ul {
    left: 0;
  }

}

section {
  background-color: black;
}